<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="border primary"></div>
  <md-card>
    <md-card-header>
      <md-card-title *ngIf="title"><h3>{{ title }}</h3></md-card-title>
      <md-card-subtitle *ngIf="subtitle"><h4> {{ subtitle }}</h4></md-card-subtitle>
    </md-card-header>
    <br>
    <div class="divider-horizontal"></div>
    <br>
    <img *ngIf="img" src="{{img}}">
    <br>
    <md-card-content *ngIf="content">
      <p>{{content}}</p>
    </md-card-content>
    <br>
    <p class="date">{{date}}</p>
    <div class="divider-horizontal"></div>
    <br>
    <md-card-actions>
      <button md-raised-button color="primary"><md-icon>thumb_up</md-icon>&nbsp;Like</button>
      <button md-raised-button color="primary"><md-icon>share</md-icon>&nbsp;Share</button>
    </md-card-actions>
  </md-card>
</div>
<div class="col-md-2"></div>
